.blog {
    padding: 85px 0;
    background-color: #f9f9f9;
}
.blog-title {
    text-align: center;
    padding: 1rem 0;
    margin-bottom: 42px;
}
.blog-title h2 {
    font-size: 2.4rem;
    font-weight: 700;
    font-family: var(--Playfair);
    margin-bottom: 10px;
}

.blog-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 40px;
}

.blog-img-box {
    position: relative;
}
.blog-img-box span {
    display: inline-block;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 8px 12px;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
}

.blog-text {
    padding: 2.2rem 0.9rem;
}

.blog-text .date {
    display: inline-block;
    font-weight: 300;
    padding-bottom: 0.3rem;
}
.blog-text__title {
    font-size: 1.65rem;
    font-weight: 500;
    font-family: var(--Playfair);
    padding: 1rem 0;
}
.blog-text__info {
    font-size: 1.1rem;
    font-weight: 300;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text__link {
    display: inline-block;
    border: 3px solid var(--dark);
    background-color: var(--dark);
    color: #fff;
    font-family: var(--Roboto);
    font-size: 1.1rem;
    padding: 0.6rem 1.2rem;
    transition: all 0.3s;
}
.blog-text__link:hover {
    color: var(--dark);
    background-color: transparent;
}
