.footer {
    background-color: var(--dark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}

.social-links {
    margin-bottom: 1.1rem;
    display: flex;
    justify-content: center;
}
.social-links a {
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.3rem;
    text-decoration: none;
    transition: color 0.5s, background 0.5s;
}
.social-links a:hover {
    color: var(--dark);
    background-color: #fff;
}
.footer span {
    font-family: var(--Playfair);
    letter-spacing: 2px;
}
